main{
    padding: 40px 20px;
}

.info-group {
    margin-bottom: 15px;
    background-color: white;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.14));
    padding: 1%;
}

.info-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.label {
    font-weight: bold;
    color: var(--dark-header);
    flex-shrink: 0;
}

.value {
    color: #555;
    text-align: right;
    word-break: break-all;
}

/* スキルをタグ風に見せる */
.tag {
    background-color: var(--light-green);
    color: var(--primary-green);
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bold;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 10px 0;
}

.home-nav{
    margin-top: 2.5%;
    display: inline-block;
    padding: 2% 5%;
    border-radius: 5%;
    background-color: #5c8d50;
}

.home-nav-item{
    color: white;
}